<!DOCTYPE html>
<html>
	<head>
		<title>My Planet</title>
	 	<meta charset="utf-8">
	 	<link rel="stylesheet" type="text/css" href="/assets/css/Reset.css"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	 	<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/planets.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>