<!DOCTYPE html>
<html>
	<head>
		<title>My Planet</title>
	  <meta charset="utf-8">
	  <link rel="stylesheet" type="text/css" href="/assets/css/Reset.css"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>