  <div class="page-header" style="margin: 40px 107.5px 20px 107.5px">
    <h3 class="text-center">Be the Master of your own Universe</h3> <h3>25% off 2nd Planet Purchase</h3>
      <h1 class="text-center"><span class="glyphicon glyphicon-globe"></span> <a href="http://localhost:3000/" style="color:white; font-size:70px">My Planet</a></h1>


      <h1 class="text-right">
      <span class="glyphicon glyphicon-pencil"></span><a href="http://localhost:3000/signup" style="text-decoration: none; margin-right: 20px"> My Account</a>
      <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://localhost:3000/cart/1" style="text-decoration: none"> Cart</a></h1>
</div>



  <div class="container">
  <div class="jumbotron" style="margin-bottom: 100px">
    <div class="row">
 

      <div class="caption">
        <div class="col-md-6">
        <h2>Sign up and invest in the future!</h2>
          <form>
            <div class="form-group">
              <label for="newUsername">Username</label>
              <input type="newUsername" class="form-control" id="newUsername" aria-describedby="newUsernameHelp" placeholder="Enter a unique username">
              <small id="newUsernameHelp" class="form-text text-muted">Your username must be unique.</small>
            </div>
            <div class="form-group">
              <label for="newEmail">Email address</label>
              <input type="newEmail" class="form-control" id="newEmail" aria-describedby="newEmailHelp" placeholder="Enter your email">
              <small id="newEmailHelp" class="form-text text-muted">Please enter a valid email.</small>
            </div>
            <div class="form-group">
              <label for="newPassword">Password</label>
              <input type="newPassword" class="form-control" id="newPassword" placeholder="Create a password">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Are you human?
              </label>
            </div>
            <button type="submit" class="btn btn-primary" id="signUpButton">Sign up</button>
          </form>
      </div>



      <div class="col-md-6">
        <h2>Welcome member! Please sign in.</h2>
        <form>
          <div class="form-group">
            <label for="logEmail">Username</label>
            <input type="logUsername" class="form-control" id="logUsername" aria-describedby="logEmailHelp" placeholder="Username">
            <small id="logEmailHelp" class="form-text text-muted">Username</small>
          </div>
          <div class="form-group">
            <label for="logPassword">Password</label>
            <input type="logPassword" class="form-control" id="logPassword" placeholder="Password">
          </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Are you human?
              </label>
            </div>
          <button type="submit" class="btn btn-primary" id="logInButton">Login</button>
        </form>
      </div>
    </div>

    </div>
    </div>