/* General Elements*/
body{
	background-color:black;
}
h1{
	color:white;
}
h3{
	color:white;
}


/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}